body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                Calculatrice                                */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.buttonCalc {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    width: 80px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    border-radius: 45px;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button8 {
    background-color: white; 
    color: black; 
    border: 2px solid #000000;
    border-radius: 45px;
}

.button8:hover {
    background-color: #000000;
    color: white;
}

.button9 {
    background-color: rgb(231, 162, 14); 
    color: rgb(255, 255, 255); 
    border: 2px solid rgb(231, 162, 14);
    border-radius: 45px;
}

.button9:hover {
    background-color: rgb(255, 195, 65);
    border: 2px solid rgb(255, 195, 65);
    color: white;
}

.button10 {
    background-color: white; 
    color: black; 
    border: 2px solid #1a78d7;
    border-radius: 45px;
}

.button10:hover {
    background-color: #1a78d7;
    color: white;
}

.egal {
    height: 50px;
    width: 348px;
    cursor: pointer;
}